Enable cross-references in dependencies (for Requirement, Recommendation, and Permission blocks)

Currently, dependencies are encoded by using the `inherit` attribute, taken as multiple semicolon-delimited values, making Metanorma unable to render cross-references or any stylish text.

For example:

*Original source:*
![capture1](https://user-images.githubusercontent.com/33627611/76477803-d07c8d80-63dc-11ea-98d7-8529bf90e928.PNG)

*Metanorma encoding:*
````
[requirement,type="class",label="http://www.opengis.net/spec/ogcapi-features-1/1.0/req/core",obligation="requirement",subject="Web API",inherit="RFC 2616 (HTTP/1.1);RFC 2818 (HTTP over TLS);RFC 3339 (Date and Time on the Internet: Timestamps);RFC 8288 (Web Linking)"]
====

====
````
*Output:*
![capture2](https://user-images.githubusercontent.com/33627611/76477980-7203df00-63dd-11ea-9cbd-e725f493ac34.PNG)


Thanks!

Maybe we can make `inherit` a list inside the requirement itself. The way we do options within a single line right now makes the document hard to edit...

I agree, will make inherit a repeating element.

So you can now write:

[requirement]
====
inherit:[<<ref1>>]
inherit:[Second document]
Text of requirement
====

Ok, thanks @opoudjis 

@opoudjis can we update documentation on metanorma.com? Thanks.

Oh, already here:   https://github.com/metanorma/metanorma.com/pull/236 . Awesome, thanks!

@opoudjis , I tried the following markup:
````
[requirement,type="class",label="http://www.opengis.net/spec/ogcapi-features-1/1.0/req/core",obligation="requirement",subject="Web API"]
====
inherit:[<<rfc2616,RFC 2616 (HTTP/1.1)>>]
inherit:[<<rfc2818,RFC 2818 (HTTP over TLS)>>]
inherit:[<<rfc3339,RFC 3339 (Date and Time on the Internet: Timestamps)>>]
inherit:[<<rfc8288,RFC 8288 (Web Linking)>>]
====
````

and got this:
![capture1](https://user-images.githubusercontent.com/33627611/77019333-cadff400-6956-11ea-984f-52051b90ce2e.PNG)

No cross-reference in rendered.

As @manuel489 mentioned there are still issues in cross references.